@import 'variavies';
@import 'header';
@import 'section1';
@import 'section2';
@import 'faqs';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", system-ui;
}

body {
    background-color: $corPrimaria;
}

